body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cartoon {
    max-width: 50px;
    height: auto;
}

.manCartoon {
    background: transparent;
    font-size:0;
    border-color: none;
    box-shadow: none;
}

.manCartoon:hover {
    border-radius: 10px;
    border-color: yellow;
}
* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}




.Manbutton, .button {
    color: white;
    background-color: transparent;
    margin: 10px 30px;
    border: none;
    padding: 5px 10px; 
    position: relative;
    overflow: hidden;
    transition: color 0.2s ease-in-out;
}

.Manbutton:hover, .button:hover {
    color: black; 
    background-color: yellow;/* Text turns yellow */
}


.Manbutton:active {
    background-color: yellow; /* Keep yellow background on click */
    border-color: yellow; /* Border stays yellow when clicked */
    transform: scale(0.98); /* Slight shrink on click */
}

.Manbutton.focused {
    border-color: yellow; /* Ensure border is yellow when focused */
}








.block {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

p {
    padding: 0px 10px;
}